@import "tailwindcss";
@plugin "daisyui";

.active-link {
  font-weight: bold;
  color: transparent;
  background: linear-gradient(to right, #16a34a, #0891b2, #60a5fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.RSPBprogressBar {
  background-color: transparent !important;
  box-shadow: none !important;
}

.RSPBprogressBar .RSPBprogression {
  border-radius: 0 !important;
}

@media screen and (min-width: 320px) {
  #root {
    overflow: hidden;
  }
}
